<%= form_for(@client) do |f| %>
  <%= render 'shared/error_messages', object: f.object%>
    

  <div class="field">
    <%= f.label :name, "Имя" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :credit_limit, "Лимит кредита" %><br />
    <%= f.text_field :credit_limit %>
  </div>
  <div class="actions">
    <%= f.submit "Добавить клиента", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
