- provide(:title, @client.name)
%section.top-left
  .header
    %h3
      ФИО клиента:
      = @client.name
%section.top-rigth
  .header
    %h2
      Лимит долга:
      = @client.credit_limit
%br
%section
  = render 'operations/form'
%section
  .header
    = render @operations
      

  = link_to 'Edit', edit_client_path(@client)
  |
  =link_to 'Back', clients_path