- provide(:title, @client.name)
%section  
  .header
    .row
      .span
        - if current_seller
          %h3 Продавец: #{link_to current_seller.name, current_seller}
      .span.pull-right
        %h3 Лимит долга: #{@client.credit_limit}
        %br
        %h3 Остаток:
  
%br
%h2 ФИО клиента: #{@client.name}
%section
  = render 'operations/form'
%section
  .header
    = render @operations
      

  = link_to 'Edit', edit_client_path(@client)
  |
  =link_to 'Back', clients_path