- provide(:title, @client.name)
%section  
  %header
    .row
      .span
        - if current_seller
          %h3 Продавец: #{link_to current_seller.name, current_seller}
      .span.pull-right
        %h3 Лимит долга: #{@client.credit_limit}
        %br
        
%br
%h2 ФИО клиента: #{@client.name}
%section
  = render 'operations/form'
  .row-fluid
    .span4
    .span8
      %table
        %thead
          %tr
            %th Сумма
            %th Примечание
            %th Время и дата покупки
        %tbody
          = render @operations
        

= link_to 'Edit', edit_client_path(@client)
|
=link_to 'Back', clients_path