.well 
  = form_for [@client, @operation] do |f|
    - if @operation.errors.any?
      #error_explanation
        %h2
          Будте внимательны! Вы что-то не так ввели!
    .row
      .span3.field
        = f.label :value, "Сумма"
        = f.text_field :value
      .span6.field
        = f.label :coment, "Комментарий"
        = f.text_area :coment
      .actions
        %br/
        = f.submit "Добавить операцию"