.well 
  = form_for [@client, @operation] do |f|
    .row-fluid
      .span2.field
        = f.label :value, "Сумма"
        = f.text_field :value
      .span6.field
        = f.label :coment, "Комментарий"
        = f.text_field :coment
      .span4.actions
        %b Остаток: #{@current_credit} рублей
        #ostatok
          = f.submit "Добавить операцию", class: "btn btn-primary"