<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @operation.value %>
</p>

<p>
  <b>Coment:</b>
  <%= @operation.coment %>
</p>

<p>
  <b>Client:</b>
  <%= @operation.client %>
</p>


<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
